.header{
    height: 12vh;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.header-png-title{
    max-width: 190px;
    min-width: 150px;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

@media screen and (min-width:1000px){
    .header-png-title{
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media screen and (min-width: 1400px){
    .header{
        height: 114px;
    }
}